*{
	text-shadow:none;
}

body{
	background-color: #33cccc;
	text-align: center;
	letter-spacing: 1;
	color: #fff;
	padding-top: 20px;
}

h1 {
	font-size: 60px;
	line-height: 0px;
}

h2 {
	font-size: 30px;
	line-height: 20px;
}

h3{
	font-size: 15px;
	line-height: 15px;
}

h4{
	font-size: 12px;
	line-height: 0;
}

p{
	font-size: 12px;
	line-height: 12px;
}

html.ui-mobile body.ui-mobile-viewport.ui-overlay-a {
	background-color: #33cccc;
}

div.ui-header.ui-bar-inherit{
	position: fixed;
	background-color: #33cccc;
	width: 100%;
	border: 0;
}

div.ui-footer.ui-bar-inherit{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #33cccc;
	color: #fff;
	border: 0; 
}

div.ui-content{
	margin-top: 100px;
}

.forcast{
	margin:auto;
	padding: 5px; 
	width: 90%;
	border-bottom: solid #fff 1px;
	overflow: auto;
	text-align: left
}

.subcontent_icon{
	margin-top: 10px;
	float:left;
	width: 100px;
}

.subcontent_tag{
	width: 60%;
	margin-left: 5px;
	float:right;
	text-align: left;
}

#main, #sub{
	background-color: #33cccc;
	color: #fff;
}

#main.ui-page.ui-page-theme-a.ui-page-active div.ui-content a.ui-btn,
.ui-btn-left.ui-toolbar-back-btn.ui-icon-carat-l.ui-btn-icon-left{
	margin: auto;
	width: 20%;
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	font-size: 15px;
	text-shadow:none;
}

.js-icon{
	margin: 80px auto 0 auto;
	display: block;
	height: 70%;
	width: 70%;
}

.js-icon_1, .js-icon_2, .js-icon_3, .js-icon_4, .js-icon_5, .js-icon_6, .js-icon_7{
	width: 100px;
	height: 50px;
} 
