*{
	text-shadow: none;
}

body{
	background-color: #33cccc;
	text-align: center;
	color: #fff;
}

h1 {
	font-size: 70px;
}

.ui-header ui-bar-inherit{
	width: 100%;
}

canvas{
	margin: auto;
	display: block;
	height: 50%;
	width: 50%;
	min-width: 256px;
}

h4.ui-title, h4.ui-footer{
	font-size: 12px;
	color: #fff;
}

html.ui-mobile body.ui-mobile-viewport.ui-overlay-a {
	background-color: #33cccc;
}

div.ui-header.ui-bar-inherit, div.ui-footer.ui-bar-inherit{
	background-color: #000;
}

div.ui-content a.ui-btn{
	width: 30%;
	margin: auto;
}

div{
	background-color: transparent;
}

